.dashboard-header {
  text-align: center;
  color: #292961;
}
.dashboard-company {
  color: #296129;
}
.dashboard-toolbar {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.dashboard-button {
  margin: 0px 20px;
  font-size: larger;
  font-weight: bold;
  box-shadow: 0 0 10px 2px lightgray;
  background-color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 0.4em;
  color: #292961;
}
.dashboard-button:hover {
  background: lightgray;
  color: white;
}
.dashboard-button:disabled {
  background-color: darkgrey;
  color: white;
}
