.table-container {
  max-height: 50vh;
  overflow-y: scroll;
  margin: 20px;
}
table {
  width: 90vw;
  margin: auto;
}
tr {
  text-align: center;
}
th,
td {
  box-shadow: 0 0 2px 1px lightgray;
  border-radius: 0.3em;
  padding: 20px;
}
td {
  padding: 10px;
}
.selected {
  background-color: lightgray;
}
